<div id="badges">
<a title="I use Arch BTW" referrerpolicy="no-referrer" href="https://archlinux.org">
    <img alt="Arch Linux Badge" src="./img/badges/archlinux.gif">
</a>
<img alt="Anything But Window Badge" title="Fuck microsoft" src="./img/badges/anythingbutwindows.gif">
<a title="KDE Advanced Text Editor Supremacy" referrerpolicy="no-referrer" href="https://kate-editor.org">
    <img alt="KATE Badge" src="./img/badges/kate.png">
</a>
<a title="Hosted on git.gay" referrerpolicy="no-referrer" href="https://git.gay">
    <img alt="git.gay Badge" src="./img/badges/gitgay.png">
</a>
<a title="uBlock Origin NOW" referrerpolicy="no-referrer" href="https://github.com/gorhill/uBlock">
    <img alt="uBlock Origin Badge" src="./img/badges/ublock.png">
</a>
<a title="Firefox NOW" referrerpolicy="no-referrer" href="https://firefox.com">
    <img alt="Firefox Badge" src="./img/badges/firefox.png">
</a>
<img alt="Say no to WEB3 Badge" title="Say no to Web3" src="./img/badges/saynotoweb3.gif">
<img alt="A.C.A.B Badge" title="Assigned Cat At Birth (real)" src="./img/badges/acab.gif">
<img alt="Piracy Badge" title="Piracy is cool" src="./img/badges/piracy.gif">
<img alt="Communism Badge" title="Communism NOW" src="./img/badges/communism.png">
<img alt="Queer pride Badge" title="Be gay do crime" src="./img/badges/queer.png">
<img alt="Trans Flag Badge" title="Trans rights :3" src="./img/badges/trans.png">
</div>
