:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    background-color: #2b2d37;
    color: #ebebeb;
}

#header {
    margin-bottom: 0px;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #content {
        margin-left: 5%;
        margin-right: 5%;
    }
}


a:link {
    color: #2a7cff;
}

a:visited {
    color: #3cff00;
}

.project {
    display: flex;
    background-color: #222528;
    box-shadow: 0 0 5px 1px #00000034;
    min-height: 80px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

.project-img {
    height: 70px;
    width: 70px;
    margin: 10px;
}

#info {
    display: flex;
}

#window {
    width: 325px;
    height: 175px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    background-color: #222526;
    border-radius: 6px 6px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px 10px #00000034;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    #info {
        display: block;
    }

    #window {
        margin-left: 0;
    }
}

#title-bar {
    height: 25px;
    line-height: 25px;
    background-color: #323540;
    text-align: center;
}

#terminal-content {
    font-family: 'Fira Code', monospace;
    margin: 4px;
}

#contact-list {
    display: flex;
    flex-wrap: wrap;
}

#contact-list span {
    margin: 10px;
}

#badges {
    border-top: solid 1px #b3b3b3;
    margin-top: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
}

#badges a {
    line-height: 0px;
}

#badges img {
    margin: 5px;
}
