:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;

    background-color: #2b2d37;
    color: #ebebeb;
}

#header {
    width: 100%;
    text-align: center;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
}

a:link {
    color: #2a7cff;
}

a:visited {
    color: #3cff00;
}

.project {
    display: flex;
    background-color: #222528;
    box-shadow: 0 0 5px 1px #00000034;
    min-height: 80px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

.project-img {
    height: 70px;
    width: 70px;
    margin: 10px;
}

#contact-list span {
    margin: 10px;
}

#badges {
    border-top: solid 1px #b3b3b3;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
}

#badges a {
    line-height: 0px;
}

#badges img {
    margin: 5px;
}
